<%= render 'shared/nav' %> 

<h1>Edit your username </h1>

<%= form_with scope: @user, url: profile_path, local: true, method: "patch" do |form| %>
  
  <div>
    <p>Old Username: <%= current_user.profile.username %></p>
    <%= form.label 'New Username' %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.submit %>
  </div>  

<% end %>