<div class='container'>
  <%= render 'shared/nav' %> 
  <div class='bar'></div>

  <div class='center'>
    <div class='holder'>
      <div class='box'>

        <h1>Edit your username </h1>

        <%= form_with scope: @user, url: profile_path, local: true, method: "patch" do |form| %>

        <p>Old Username: <%= current_user.profile.username %></p>
        <%= form.label 'New Username' %>
        <%= form.text_field :username %>

        <%= form.submit %>
        <% end %>
 
      </div>
    </div>
  </div>
</div>