<div class='container'>
  <%= render 'shared/nav' %> 
  <div class='bar'></div>

  <div class='center'>
    <div class='holder'>
      <div class='box'>

        <h1>Create a Terrarium Listing! </h1>

        <%= form_with scope: @listing, url: listings_url, local: true do |form| %> 

          <% if @listing.errors.any? %>
            <div class="alert-warning">
              <h2>
                <%= pluralize(@listing.errors.count, "error") %> prohibited
                this listing from being saved:
              </h2>
              <ul>
                <% @listing.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div>
            <%= form.label :title %>
            <%= form.text_field :title %>
          </div>
        
          <div>
            <%= form.label :description %>
            <%= form.text_area :description %>
          </div>

          <div>
            <br>
            <%= form.radio_button :sale_type, 1, :checked => true, class: 'sale_type' %> 
            <%= label :sale_type, 'Sell' %>
            <%= form.radio_button :sale_type, 2, class: 'sale_type' %>
            <%= label :sale_type, 'Swap/Trade' %>
            <%= form.radio_button :sale_type, 3, class: 'sale_type' %>
            <%= label :sale_type, 'Free' %>
          </div>
        
          <div id='price'>
            <br>
            <%= form.label 'Sale Price $' %>
            <%= form.number_field :price %>
          </div>

          <div>
            <br>
            Terrarium Size <br>
            <%= form.radio_button :size, 1, :checked => true %> 
            <%= label :size, 'X-Small' %>
            <%= form.radio_button :size, 2 %> 
            <%= label :size, 'Small' %>
            <%= form.radio_button :size, 3 %> 
            <%= label :size, 'Medium' %>
            <%= form.radio_button :size, 4 %> 
            <%= label :size, 'Large' %>
            <%= form.radio_button :size, 5 %> 
            <%= label :size, 'X-Large' %>
          </div>

          <div>
            <br>
            <%= form.label :picture %> 
            <%= form.file_field :picture, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
          </div>

          <div>
            <br>
            <%= form.submit %>
          </div>  

          <% end %>
        <%= javascript_pack_tag 'new' %>
      </div>
    </div>
  </div>
</div>