  
<% if flash[:success] %>
  <p><%= flash[:success] %></p>
<% end %>

<div class='container'>
<%= render 'shared/nav' %> 

  <div class='bar'></div>

  <div class='show-container'>

    <div class='back-box'>

      <div class='show-listing'>

        <div class='col-1'>
          <div class='show-image'>
            <img src=<%= @listing.image %>>
            <%= image_tag @listing.picture if @listing.picture.attached? %>
          </div>
        </div>

        <div class='col-2'>
          <div class='show-title'>
            <p><%= @listing.title %></p>
          </div>
          <div class='show-sale'>
            <% if @listing.sale_type.to_i == 1 %>
              <p>$<%= @listing.price %></p>
            <% elsif @listing.sale_type.to_i == 2 || 3 %>
              <p><%= number_to_sale_type(@listing.sale_type) %></p>
            <% end %>
          </div>
          <div class='show-description'>
            <p><%= @listing.description %></p>
          </div>
          <div class='show-size'>
            <p><%= number_to_size(@listing.size) %></p>
          </div>
          <div class='show-user'>
            <p><%= @listing.user.profile.username %></p>
          </div>

          <div class="show-edit-delete">
            <% if can? :edit, @listing %>
              <%= link_to "Edit", edit_listing_path(@listing.id) %>
              <%= link_to "Delete", listing_path(@listing.id), method: :delete %>
            <% end %>

            <% if current_user.id != @listing.user_id %>
              <%= link_to "Buy Terrarium", "", id: "stripe" %>
            <% end %>

            <%= link_to "Back", :back %>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag "stripe" %>
  </div>
</div>